.header.header--home {
    background: url('../img/home-blue.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    margin-top: -70px;
    padding-top: 140px;

    & h1.header__h1--home {
        color: white;
        font-size: $base-font-size * 3;
        margin: $font-margin;
    }

    & p.header__lead {
        color: white;
        font-size: $base-font-size * 1.25;
        margin: $font-margin;
    }

    & .header--home__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    & .btn-primary {
        display: inline-block;
        margin: $font-margin;
    }

    @include respond-to(sm) {
        & h1.header__h1--home {
            font-size: $base-font-size * 2;
        }

        & p.header__lead {
            font-size: $base-font-size;
        }
    }
}

.banner {
    overflow: hidden;
    padding: $font-margin * 2;
    padding-bottom: $font-margin * 4;

    &.bg-primary {
        color: white;
    }

    h2.line-thru {
        color: $grey-lightest;
        display: inline-block;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 16px;
        padding: 0 $font-margin * 3;
        position: relative;
        text-align: center;
        z-index: 0;
    }

    h2.line-thru:after {
        content: "";
        border-top: 1px solid $grey-lightest;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    h2.line-thru span {
        background: white;
        padding: 4px 8px;
    }

    &.bg-primary h2.line-thru > span {
        background-color: $secondary-1;
        padding: 4px 8px;
    }
}

section.banner--hiw {
    padding: 0 100px;

    & .block--hiw {
        text-align: center;
    }
}

@include respond-to(sm) {
    section.banner--hiw {
        padding: 0 $font-margin;
    }
}

.banner > .swiper-panel {
    color: white;
}


.banner--slim {
    @extend .banner;
    padding-left: 0;
    padding-right: 0;
    background-color: $grey-lightest;

    & p.banner__p {
        font-size: $base-font-size;
    }

    & a.btn-secondary {
        display: inline-block;
        margin-top: $font-margin;
    }
}
