a.btn, button.btn {
    display: inline-block;
    border-radius: 18px;
    font-size: $base-font-size;
    padding: 12px 16px;
}

a.btn-primary,
button.btn-primary {
    @extend a.btn;
    background-color: $primary-1;

}

a.btn-secondary,
button.btn-secondary {
    @extend a.btn;
    background-color: $secondary-1;
    color: white;
    padding: 8px 12px;

}
